.home {
	width: 100%;
}

.home__slider {
	margin-bottom: 40px;
}

.home__top-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.home__search {
	position: relative;
	display: flex;
	align-items: center;
	width: 250px;
	height: 45px;
	padding: 20px 15px;
	border-radius: 10px;
	border: 1px solid #f3f3f3;
	color: #c4c4c4;
	overflow: hidden;
}

.home__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0 0 50px 0;
}

.search__search-image {
	margin-right: 10px;
}

.search__remove-image {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
