.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 128px;
}

.header__logo-section {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 16px;
}

.header__title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__sub-title {
	color: #9d9d9d;
}

.menu__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.menu__price {
	font-weight: 600;
}

.header__line {
	width: 1080px;
	height: 1px;
	margin-bottom: 46px;
	background-color: #eaeaea;
}

/* ICONS*/

.icon-like path {
	fill: #9dd458;
}

.icon-like_animation path {
	animation: animation 1s infinite alternate;
}

@keyframes animation {
	from {
		fill: #fc7575;
	}
	to {
		fill: #ff858500;
	}
}

.icon-cart_theme_green path {
	stroke: #9dd458;
}
