.favorites {
	width: 100%;
}

.favorites__title {
	margin-bottom: 40px;
}

.favorites__content {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0 0 50px 0;
}
