.slider {
	width: 960px;
	height: 300px;
	cursor: move;
}

.slider__container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	background: #f4efe9;
}

.slider__title {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 30px;
}

.slider__title span {
	color: #8bb43c;
}

.slider__left-section {
	padding: 88px 0 0 61px;
}

.slider__logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px 0 0 20px;
}
